<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="{{ url_for('static',filename='functions.js') }}"></script>
<link rel="stylesheet" href="/static/StyleCSS.css">
</head>
<body id="bkg1">
	 <center>
	<button onclick="passVal()">Click to see the trailer</button>
	</Center>
<p id="result"></p>
<br><br><br>

<iframe align="center" src="https://www.youtube.com/embed/Rvr68u6k5sI?autoplay=1&mute=1", "_self" height="400" width="440" title="Iframe Example"></iframe>

</body>
</html>