<!DOCTYPE html>
<html>
<style>
    body{
    background-color: lightblue;
    }
    h1{
    font-family: Sans-serif;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
    }
    @keyframes blinkingText{
    0% {color: #10c018;}
    25% {color: #1056c0;}
    50% {color: #ef0a1a;}
    75% {color: #244878;}
    100% {color: #04a1d5;}
    }
</style>
<body>
<marquee direction=alternate><h1> Matrix Videos Online Rental Form</marquee></H1>
</body>
</html>